---
title: This is a server side generated page    
layout: base.njk
---

<div class="container">
    <h1>This is a static page.</h1>
    <div class="vibe">you are great</div>
    <div class="love">
        ❤️
    </div>
</div>
<script src="js/vibe.js"></script> 